.tabs .active {
  font-weight: bold;
}

div.tab-pane {
  display: none;
}

div.tab-pane.active {
  display: block;
}

.transitioning {
  opacity: 0;
  display: block;
  transition: opacity 500ms linear;
}
